<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crear Nueva Actividad</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="container">
    <h1>Crear Nueva Actividad</h1>
    <form action="/activities" method="POST">
      <label for="name">Nombre:</label>
      <input type="text" id="name" name="name" required>
      <br>
      <label for="description">Descripción:</label>
      <textarea id="description" name="description"></textarea>
      <br>
      <!-- Selector de categorías -->
      <label for="categoryId">Categoría:</label>
      <select id="categoryId" name="categoryId" required>
        <% categories.forEach(category => { %>
          <option value="<%= category.id %>"><%= category.name %></option>
        <% }); %>
      </select>
      <br>
      <button type="submit">Crear Actividad</button>
    </form>
    <br>
    <a href="/activities">Volver a la lista de actividades</a>
  </div>
</body>

</html>