<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar H치bito</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="container">
    <h1>Editar H치bito</h1>
    <form action="/habits/<%= habit.id %>?_method=PUT" method="POST">
      <label for="name">Nombre:</label>
      <input type="text" id="name" name="name" value="<%= habit.name %>" required>
      <br>
      <label for="description">Descripci칩n:</label>
      <textarea id="description" name="description"><%= habit.description %></textarea>
      <br>
      <button type="submit">Guardar Cambios</button>
    </form>
    <br>
    <a href="/habits">Volver a la lista de h치bitos</a>
  </div>
</body>

</html>