<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Hábitos</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="container">
    <h1>Lista de Hábitos</h1>
    <a href="/habits/new" class="button">Crear Nuevo Hábito</a>
    <ul>
      <% habits.forEach(habit => { %>
        <li>
          <strong>
            <%= habit.name %>
          </strong>: <%= habit.description %>
            <br>
            <a href="/habits/<%= habit.id %>/edit" class="button">Editar</a>
            <form action="/habits/<%= habit.id %>?_method=DELETE" method="POST" style="display:inline;">
              <button type="submit" class="delete">Eliminar</button>
            </form>
        </li>
      <% }); %>
    </ul>
    <!-- Botón para regresar a la vista principal -->
    <div class="back-to-home">
      <a href="/dashboard" class="button">Regresar a la página principal</a>
    </div>
  </div>
</body>

</html>