<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crear Nuevo Hábito</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="container">
    <h1>Crear Nuevo Hábito</h1>
    <form action="/habits" method="POST">
      <label for="name">Nombre:</label>
      <input type="text" id="name" name="name" required>
      <br>
      <label for="description">Descripción:</label>
      <textarea id="description" name="description"></textarea>
      <br>
      <button type="submit">Crear Hábito</button>
    </form>
    <br>
    <a href="/habits">Volver a la lista de hábitos</a>
  </div>
</body>

</html>